:root {
    // font
    --main-font-size: 16px;
    --main-line-height: 19px;
    --main-font-family: 'Trebuchet MS';
    --header-font-family: "Exo2.0";

    // colors
    --white-color: #fff;
    --dark-color: #000;
    --yellow-color: #FFFF66;
    --bg-color: #F2F2F2;
    --border-color: #1698d9;
    --disabled-border-color: #B3B3B3;
    --highlight-color: #E62E7A;
}